{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %} 

<div class="container">
    {{macro.displayPitches(pitch)}}


<h2>Comments</h2>
{% if comments %}
        {{macro.displayComments(comments)}}
{% else %} 
        <p class="lead">This pitch has no comments</p>
{% endif %}
<p class="lead" id="note">NOTE: You must Register to Comment</p>
<a class="btn btn-success" href="/details/comments/{{pitch[0].id}}"> Post a new comment</a>
        

{% endblock %}
</div>