{% extends 'base.html' %}
{% import 'macros.html' as macro %}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}

<div class="container">
    <p class="lead">Welcome to Derrick-Blog</p>
    <p class="lead">Where you can  submit your pitches and other users will vote on them 
        and leave comments to give their feedback on them</p>
    <p class="cl">Click on the pitch title to see the pitch details and you can click the button below to add your own pitch.</p>

    <div class="row">
        <div class="col-md-6">
            <h2>INTERVIEW PITCHES</h2>
            <ul>
                {{macro.displayPitchList(interviews)}}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>PICK-UP LINES PITCHES</h2>
            <ul>
                {{macro.displayPitchList(pickups)}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>PRODUCT PITCHES</h2>
            <ul>
                {{macro.displayPitchList(products)}}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>PROMOTION PITCHES</h2>
            <ul>
                {{macro.displayPitchList(promotions)}}
            </ul>
        </div>
    </div>
    
    <button class="btn btn-primary"><a class="link" href="/pitch"> Add Your own Pitch</a></button>
        
    
   
</div>

{% endblock %}