{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container">
    <div>
        <h2>INTERVIEW PITCHES</h2>
        <ul>
            {{macro.displayPitchList(interviews)}}
        </ul>
        <h2>PICK-UP LINES PITCHES</h2>
        <ul>
            {{macro.displayPitchList(pickups)}}
        </ul>
        <h2>PRODUCT PITCHES</h2>
        <ul>
            {{macro.displayPitchList(products)}}
        </ul>
        <h2>PROMOTION PITCHES</h2>
        <ul>
            {{macro.displayPitchList(promotions)}}
        </ul>
    </div>

    <div>
        <a  href="/pitch"> Add Your own Pitch</a>
    </div>
   
</div>

{% endblock %}