{% macro displayPitchList(pitch_list) %}

{% for pitch in pitch_list %}

    <li><a href="/details/{{pitch.id}}">{{pitch.title}}</a></li>
    <li>Posted by ~ {{pitch.user.username}}</li>

{% endfor %}

{% endmacro %}

{% macro displayPitches(pitches_list) %}

{% for pitch in pitches_list %}
<h3>{{pitch.title}}</h3>
<p>{{pitch.pitch}}</p>
<p>Posted on ~ {{pitch.posted}}</p>
<p>Posted by ~ {{pitch.user.username}}</p>
<p>Upvotes ~ {{pitch.upvotes}}</p>
<p>Downvotes ~ {{pitch.downvotes}}</p>
<div>
    <form action="/details/{{pitch.id}}/upvote" method="POST"><input type="submit" value="Upvote" /></form>
</div>
<div>
    <form action="/details/{{pitch.id}}/downvote" method="POST"><input type="submit" value="Downvote" /></form>
</div>
{% endfor %}

{% endmacro %}

{% macro displayComments(comment_list) %}

{% for comment in comment_list %}

<h4>Author</h4>
<p>Posted by ~ {{comment.user.username}}</p>

<p>{{comment.comment}}</p>

{% endfor %}

{% endmacro %}