{% macro displayPitchList(pitch_list) %}

{% for pitch in pitch_list %}

<div class="pitch">
    <li class="buton"><a href="/details/{{pitch.id}}">{{pitch.title}}</a></li>
    <li>Posted by ~ {{pitch.user.username}}</li>
</div>
    

{% endfor %}

{% endmacro %}

{% macro displayPitches(pitches_list) %}

{% for pitch in pitches_list %}
<h3>{{pitch.title}}</h3>
<p>{{pitch.pitch}}</p>
<p>Posted on ~ <span class="highlight">{{pitch.posted.strftime('%d-%m-%Y')}}</span></p>
<p>Posted by ~ <span class="highlight">{{pitch.user.username}}</span></p>
<p>Upvotes ~ <span class="highlight">{{pitch.upvotes}}</span></p>
<p>Downvotes ~ <span class="highlight">{{pitch.downvotes}}</span></p>

<div>
    <form action="/details/{{pitch.id}}/upvote" method="POST"><input type="submit" value="Upvote" class="upvotes" /></form>
</div>
<br>
<div>
    <form action="/details/{{pitch.id}}/downvote" method="POST"><input type="submit" value="Downvote" class="downvotes" /></form>
</div>
{% endfor %}

{% endmacro %}

{% macro displayComments(comment_list) %}

{% for comment in comment_list %}

<div class="comments">
    <p>Posted by ~ <span class="highlight">{{comment.user.username}}</span></p>
    <p><span class="comment">{{comment.comment}}</span></p>
</div>


{% endfor %}

{% endmacro %}